@import "../_variables";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.skin-container {
  background-image: linear-gradient(-135deg, $color-primary, $color-secundary);
  border-radius: 20px;
  -webkit-box-shadow: -9px -15px 18px -2px rgba(72, 77, 72, 0.46);
  box-shadow: -9px -15px 18px -2px rgba(71, 73, 71, 0.46);
  margin: 0rem;
  padding: 0.5rem;
  margin-top: 2rem;

  @media screen and (min-width: 720px) {
    font-size: 1rem;
    padding: 1rem;
    margin: auto auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 2rem;
  }
}

.container-skin {
  background-color: #ebebf8;
  margin-top: 0.5rem;
  border-radius: 20px;
  padding: 1rem;
}

.title {
  background-image: linear-gradient(-135deg, #000000, #000);
  color: $color-green;
  font-family: "Press Start 2P";
  font-size: 2rem;
  padding-left: 2rem;
  border-radius: 20px;
  padding-top:1rem;

  @media screen and (min-width: 720px) {
    font-size: 3rem;
    padding-left:20rem
  }
}

div.carousel-control-prev {
  color: $color-green;
}

div.dva-h3 {
  color: $color-green;
}

.carousel-indicators .active {
  background-color: $color-green;
}

.img-dva {
  border-radius: 20px;
}

.video {
  width: 22rem;
  height: 15rem;
  margin:auto auto;

  @media screen and (min-width: 720px) {
    width: 65rem;
    height: 40rem;
  }
}
